<div *ngIf="photo$ | async as photo">
  <div class="row mx-0 pt-4 mt-3 d-flex justify-content-center">
    <div class="col-lg-5 p-5">
      <ap-photo [url]="photo?.url || ''" class="size"></ap-photo>
    </div>

    <div class="col-lg-5 p-5">
      <small>
        <p class="text-left break-word">{{ photo?.description }}</p>
        <div class="text-left mb-4">
          <i
            (click)="like(photo)"
            showIfLogged
            class="fa fa-heart-o fa-2x mr-2 pull-left"
          >
            {{ photo.likes }}
          </i>
          <i class="fa fa-comment-o fa-2x mx-2"></i>{{ photo.comments }}
          <i
            photoOwnerOnly
            [ownerPhoto]="photo"
            (click)="remove()"
            class="fa fa-trash-o fa-2x pull-right"
          ></i>
        </div>
        <hr />
      </small>
      <ap-photo-comments
        *ngIf="photo.allowComments; else warning"
        [photoId]="photoId"
      >
      </ap-photo-comments>
      <ng-template #warning>
        <i>User has disabled comments for this photo</i>
      </ng-template>
    </div>
  </div>
</div>
